    <footer>
        <nav>
            <a href="">Contact Us</a>
            <a href="">Help</a>
            <a href="">Settings</a>
        </nav>

        <p>Copyrights Reserved &copy 2020</p>
    </footer>
</body>
</html>