<tr class="table-data">

    <td><input class="item-data" name="name" type="text"></td>

    <td><input class="item-data" name="quantity" type="number"></td>

    <td>
        <select class="item-data" id="unit" name="unit">
            <option value="packets">Packets</option>
            <option value="pieces">Pieces</option>
            <option value="kilogram">kilogram</option>
            <option value="gram">gram</option>
        </select>
    </td>

    <td><input class="item-data" type="date" name="mfg-date" id=""></td>

    <td><input class="item-data" type="date" name="exp-date" id=""></td>

    <td><input class="item-data" name="purchase" type="number"></td>

    <td>
        <select class="item-data" id="unit" name="status">
            <option value="None">None</option>
            <option value="Inventory">Inventory</option>
            <option value="Not-Arrived">Yet to Arrive</option>
            <option value="Expired">Expired</option>
            <option value="Damaged">Damaged</option>
        </select>
    </td>
</tr>