<%- include('../partials/header') %> 

<section id="inventory">

    <h2>
        Inventory
    </h2>


    <div class="section-container">

        <div class="sidebar">

            <nav class="content">
                <a href="">Monthly Changes</a>
                <a href="">Weekly Changes</a>
                <a href="">Edit Inventory</a>
                <a href="">Current Inventory</a>
            </nav>
    
        </div>
        <div class="table-container">

            <table id="current">

                <caption>Current Inventory</caption>

                <tr class="table-head">
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Expiry</th>
                </tr>

                <tr class="table-data">
                    <td>Salt</td>
                    <td>50</td>
                    <td>kg</td>
                    <td>3 months</td>
                </tr>

                <tr class="table-data">
                    <td>Tomato</td>
                    <td>70</td>
                    <td>kg</td>
                    <td>4 days</td>
                </tr>

                <tr class="table-data">
                    <td>Potato</td>
                    <td>150</td>
                    <td>kg</td>
                    <td>6 days</td>
                </tr>

                <tr class="table-data">
                    <td>Lemonade</td>
                    <td>450</td>
                    <td>packets</td>
                    <td>6 months</td>
                </tr>

                <tr class="table-data">
                    <td>Chocolate Syrup</td>
                    <td>700</td>
                    <td>packets</td>
                    <td>2 yrs</td>
                </tr>
    
            </table>

        </div>
    </div>

</section>

<%- include('../partials/footer') %> 